* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}


:root{
    --primary-yellow: hsl(47, 88%, 63%);
    --secondary-pure-white:  hsl(0, 0%, 100%);
    --Elite-Gray: hsl(0, 0%, 50%);
     --Black: hsl(0, 0%, 7%);
}

body{
    height: 100vh;
    background-color: var(--primary-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p{
    font-size: 16px;
}


.blog-card-container{
    height: 500px;
    width: 370px;
    background: var(--secondary-pure-white);
    padding: 20px;
    border-radius: 10px;
    outline: 1px solid #000;
    box-shadow: 10px 10px #000;
}


.blog-img img{
    width: 100%;
    border-radius: 10px;
}

.blog-body{
    padding-top: 15px;
}



.blog-body h5{
  background-color:  var(--primary-yellow);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
}

.blog-card-body .publish{
    padding: 12px 0 15px;
    font-size: 14px;
    color: var(--black);
    font-weight: 600;
}
.blog-body h2{
    font-weight: 800;
    padding-bottom: 18px;
    color: var(--black);
    cursor: pointer;
}

.blog-body h2:hover{
    color: var(--Elite-Gray);
}

.blog-body p{
    font-weight: 600;
    color: var(--Elite-Gray);
    line-height: 25px;
    padding-bottom: 15px;
}

.blog-card-avatar{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.blog-card-avatar img{
    width: 35px;
}

.blog-card-avatar small{
    font-weight: 800;
    margin-left: 12px;
    font-size: 14px;
}



.last-part{
    padding-top: 20px;
}

.last-part a {
    color: var(--Elite-Gray);
}

@media  screen and (max-width: 375px) {
    .blog-card-container {
        width: 320px;
        margin: 20px;
    }
    
.blog-body p {
    font-size: 14px;
}
}
